*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

a {
    text-decoration: none;
}

.img-hover {
    overflow: hidden;
    padding: 0;
}

.img-hover:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.logo-title {
    position: relative;
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    margin-bottom: 0;
}

.tour-card {
    border: none;
    outline: none;
    cursor: pointer;
    background: #fff;
    -webkit-transition: .15s linear;
    -o-transition: .15s linear;
    transition: .15s linear;
    border-radius: 5px;
}

.tour-card:hover {
    background: rgba(141, 205, 255, 0.3);
}

.tour-number {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}

.tour-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    margin-left: 5px;
}

.tour-title > span {
    font-weight: bold;
    color: grey;
    text-align: start;
    line-height: 20px;
}

.tour-title > p, .tour-number {
    font-size: 50px;
    font-weight: bold;
    line-height: 20px;
}

.bg-pink {
    background: #fd8f90;
}

.bg-blue {
    background: #8dcdff;
}

.bg-yellow {
    background: #fcd08f;
}

.bg-white {
    background: #fff;
}

.bg-light-blue {
    background: rgba(218, 235, 255, 0.7);
}

.promo-text {
    position: absolute;
    bottom: 0;
    margin: 10px;
    padding: 20px 15px;
    color: #000;
}

.promo-container {
    position: relative;
    color: white;
}

.modal-img {
    height: 95vh;
}

.holder-container {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.recreation-container {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.img-holder {
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.holder-bg-1 {
    background: -webkit-gradient( linear,
    left top, left bottom,
    from(rgba(0, 0, 0, 0.2)),
    to(rgba(0, 0, 0, 0.2)) ), url('../images/panorama.jpg') center center / cover no-repeat;
    background: -o-linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/panorama.jpg') center center / cover no-repeat;
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/panorama.jpg') center center / cover no-repeat;
}

.holder-bg-2 {
    background: -webkit-gradient( linear,
    left top, left bottom,
    from(rgba(0, 0, 0, 0.2)),
    to(rgba(0, 0, 0, 0.2)) ), url('../images/yan.jpg') center center / cover no-repeat;
    background: -o-linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/yan.jpg') center center / cover no-repeat;
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/yan.jpg') center center / cover no-repeat;
}

.holder-bg-3 {
    background: -webkit-gradient( linear,
    left top, left bottom,
    from(rgba(0, 0, 0, 0.2)),
    to(rgba(0, 0, 0, 0.2)) ), url('../images/miras.jpg') center center / cover no-repeat;
    background: -o-linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/miras.jpg') center center / cover no-repeat;
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/miras.jpg') center center / cover no-repeat;
}

.holder-bg-4 {
    background: -webkit-gradient( linear,
    left top, left bottom,
    from(rgba(0, 0, 0, 0.2)),
    to(rgba(0, 0, 0, 0.2)) ), url('../images/zdorove.jpg') center center / cover no-repeat;
    background: -o-linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/zdorove.jpg') center center / cover no-repeat;
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/zdorove.jpg') center center / cover no-repeat;
}

.holder-bg-5 {
    background: -webkit-gradient( linear,
    left top, left bottom,
    from(rgba(0, 0, 0, 0.2)),
    to(rgba(0, 0, 0, 0.2)) ), url('../images/ozero.jpg') center center / cover no-repeat;
    background: -o-linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/ozero.jpg') center center / cover no-repeat;
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/ozero.jpg') center center / cover no-repeat;
}

.holder-bg-6 {
    background: -webkit-gradient( linear,
    left top, left bottom,
    from(rgba(0, 0, 0, 0.2)),
    to(rgba(0, 0, 0, 0.2)) ), url('../images/bushido_park.webp') center center / cover no-repeat;
    background: -o-linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/bushido_park.webp') center center / cover no-repeat;
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/bushido_park.webp') center center / cover no-repeat;
}

.holder-bg-7 {
    background: -webkit-gradient( linear,
    left top, left bottom,
    from(rgba(0, 0, 0, 0.2)),
    to(rgba(0, 0, 0, 0.2)) ), url('../images/bushido.webp') center center / cover no-repeat;
    background: -o-linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/bushido.webp') center center / cover no-repeat;
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/bushido.webp') center center / cover no-repeat;
}

.holder-bg-8 {
    background: -webkit-gradient( linear,
    left top, left bottom,
    from(rgba(0, 0, 0, 0.2)),
    to(rgba(0, 0, 0, 0.2)) ), url('../images/apadniy.webp') center center / cover no-repeat;
    background: -o-linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/apadniy.webp') center center / cover no-repeat;
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/apadniy.webp') center center / cover no-repeat;
}

.holder-bg-9 {
    background: -webkit-gradient( linear,
    left top, left bottom,
    from(rgba(0, 0, 0, 0.2)),
    to(rgba(0, 0, 0, 0.2)) ), url('../images/xfit.jpg') center center / cover no-repeat;
    background: -o-linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/xfit.jpg') center center / cover no-repeat;
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/xfit.jpg') center center / cover no-repeat;
}

.holder-bg-10 {
    background: -webkit-gradient( linear,
    left top, left bottom,
    from(rgba(0, 0, 0, 0.2)),
    to(rgba(0, 0, 0, 0.2)) ), url('../images/snejinka.webp') center center / cover no-repeat;
    background: -o-linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/snejinka.webp') center center / cover no-repeat;
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/snejinka.webp') center center / cover no-repeat;
}

.img-holder:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.holder-title {
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    top: 0;
    padding: 0 10px;
    margin: 10px 15px;
    background: #fff;
    border-radius: 15px;
}

.holder-subtitle {
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-decoration: none;
}

.attraction-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.attraction-title {
    width: 100%;
    height: 110px;
    text-align: center;
    background: rgba(141, 205, 255, 0.95);
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attraction-bg-1 {
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/attraction_dramteatr.png') center center / cover no-repeat;
}

.attraction-bg-2 {
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/attraction_park.png') center center / cover no-repeat;
}

.attraction-bg-3 {
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/attraction_beach.jpg') center center / cover no-repeat;
}

.attraction-bg-4 {
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/panorama.jpg') center center / cover no-repeat;
}

.attraction-bg-5 {
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/attraction_kaskad.webp') center center / cover no-repeat;
}

.attraction-bg-6 {
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/attraction_memorial.webp') center center / cover no-repeat;
}

.attraction-bg-7 {
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/attraction_zdorove.jpg') center center / cover no-repeat;
}

.attraction-bg-8 {
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/attraction_karakuz.jpg') center center / cover no-repeat;
}

.attraction-bg-9 {
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/attraction_promenad.jpg') center center / cover no-repeat;
}

.attraction-bg-10 {
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/attraction_nefti.jpg') center center / cover no-repeat;
}

.attraction-bg-11 {
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/museum.jpg') center center / cover no-repeat;
}

.attraction-bg-12 {
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/gallery.jpg') center center / cover no-repeat;
}

.attraction-bg-13 {
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/lenin.jpg') center center / cover no-repeat;
}

.attraction-bg-14 {
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/jalil.webp') center center / cover no-repeat;
}

.attraction-bg-15 {
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/neftyaniki.webp') center center / cover no-repeat;
}

.attraction-bg-16 {
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/tukai.jpg') center center / cover no-repeat;
}

.attraction-bg-17 {
    background: linear-gradient( rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) ), url('../images/shamsinur.jpg') center center / cover no-repeat;
}

.cafe-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cafe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 49%;
    background: rgba(218, 235, 255, 0.7);
    padding: 10px 15px;
    border-radius: 15px;
    color: #0d6efd;
    font-weight: 500;
    line-height: 20px;
    font-size: 18px;
}

.cafe > a {
    color: grey;
    font-weight: 300;
    font-size: 13px;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 200px;
    min-height: 100vh;
}

footer {
    width: 100%;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-links {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.footer-link {
    font-size: 18px;
    font-weight: 600;
    -webkit-transition: linear .2s;
    -o-transition: linear .2s;
    transition: linear .2s;
    margin: 5px;
}

.footer-link:hover {
    opacity: 0.6;
}

.footer-logo {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 600;
}

* {

    margin: 0;
    padding: 0;
}

.preloader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.preloader > h1 {
    position: relative;
    font-size: 80px;
    font-weight: 400;
    color: #4d4d4d;
}

.preloader > h1::before {
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #05a9f3;
    overflow: hidden;
    -webkit-animation: loading 3s ease-out forwards;
    animation: loading 3s ease-out forwards;
}

.preloader.hide {
    display: none;
}

body.loader {
    overflow: hidden;
}

#video {
    padding: 0;
}

.news-container {
    width: 100%;
    height: 200px;
    transition: linear .15s;
    margin: 0 auto;
}

.news-container:hover .news-title {
    color: #0d6efd;
    border-radius: 5px;
}

.news-container:hover .news-img img {
    transform: scale(1.05);
}

.news-title {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;

}

.news-date {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    color: rgba(13, 110, 253, 1);
}

.news-img {
    border-radius: 5px;
}

.news-img img {
    height: 200px;
}

.news-text {
    text-align: justify;
}

.nav-contacts > p {
    margin: 0;
}

.navbar-logo-img {
    height: 40px;
}

.nav-logo {
    font-size: 18px;
}

.tour-container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attraction-filter > button {
    border: none;
    background: none;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px;
}

.bg-select {
    background: #0d6efd;
}

@-webkit-keyframes loading {
    0% { width: 0; }
    20% { width: 45%; }
    80% { width: 65%; }
    90% { width: 85%; }
    100% { width: 100%; }
}

@keyframes loading {
    0% { width: 0; }
    20% { width: 45%; }
    80% { width: 65%; }
    90% { width: 85%; }
    100% { width: 100%; }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 30%, 0);
        transform: translate3d(0, 30%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@media screen and (max-width: 1400px) {
    .navbar-logo-img {
        height: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        padding: 0;
        margin-bottom: 10px;
    }

    .nav-link {
        color: #fff;
        font-weight: 500;
        transition: linear 0.15s;
    }

    .nav-link:hover {
        color: #fff;
        opacity: 0.7;
        background: rgba(0, 0, 0, 0.1);
    }

    .navbar-bg {
        padding: 0 15px;
        background: #007aff;
        border-radius: 5px;
    }
}

@media screen and (max-width: 1200px) {
    body {
        padding-bottom: 0;
    }

    .tour-title > p, .tour-number {
        font-size: 40px;
    }

    .promo-text {
        position: static;
    }

    .promo-container {
        position: static;
    }

    .footer-links {
        width: 90%;
    }

    .footer-link {
        font-size: 16px;
    }

    .preloader > h1 {
        font-size: 40px;
    }

    .footer-logo {
        font-size: 16px;
        font-weight: 600;
    }

    .section-with-carousel .carousel-controls {
        display: none;
    }

    .nav-logo {
        font-size: 16px;
    }

    footer {
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .recreation-container {
        height: 350px;
    }

    .news-container {
        height: fit-content;
    }
}